@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);

  --color-accent: #f15827;
  --color-111: #111111;

  --animate-fade-up: fade-up 0.8s ease-out forwards;
  --animate-ticker: ticker 20s linear infinite;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
